<html lang="en">
  <head>
    <title>GoUniv</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="app.js"></script>
  </head>
  <body>
    <div class="title">
      <h1>Find your university</h1>
    
    <form class="find" onsubmit="searchForm(event)" style="margin:auto;max-width:525px">
      <input type="text" placeholder="Search by name (Harvard, Buckingham, etc.)" id="search">
    <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    </div>

    <div class="split left">
      <div class="centered">
        <img src="https://cdn-icons-png.flaticon.com/512/2231/2231642.png" alt="graduation" width="115" height="115">
        <h4>Result:</h4>
        <div id="result">Here's your result</div>
      </div>
    </div>

    <div class="split right">
      <div class="centered">
        <img src="https://cdn-icons-png.flaticon.com/512/2231/2231696.png" alt="university" width="115" height="115">
        <p>A university (from Latin universitas 'a whole') is an institution of higher (or tertiary) education and research which awards academic degrees in several academic disciplines. Universities typically offer both undergraduate and postgraduate programs in different schools or faculties of learning. (Wikipedia)</p>
      </div>
    </div>

    <footer>
      <p>intanmarsjaf©2022 · <a href="https://github.com/intaen">Github</a></p>
    </footer>

  </body>
</html>