body {
  background-color: white;
  text-align:center;
}

.title {
    border: 2px solid rgb(139, 233, 139);
    border-radius: 25px;
    margin: 15px;
    padding: 15px;
    background-color:rgb(139, 233, 139);
    color: white;
  }

  h1 {
    color: rgb(80, 141, 80);
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  h3 {
      color: black;
      text-align: center;
  }

  h4 {
    color: black;
    text-align: center;
    margin-bottom: 10px;
  }

  #result {
    text-align: center;
  }


* {
  box-sizing: border-box;
  border-radius: 25px;
}

form.find input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.find button {
  float: left;
  width: 15%;
  margin-left: 10px;
  padding: 10px;
  background: rgb(80, 141, 80);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.find button:hover {
  background: rgb(139, 233, 139);
}

form.find::after {
  content: "";
  clear: both;
  display: table;
}

.split {
  height: 50%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 200;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: white;
}

.right {
  right: 0;
  background-color: white;
}

.centered {
  position: absolute;
  top: 30%;
  bottom: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
}

.centered p {
  text-align: justify;
  text-justify: inter-word;
}


footer {
  text-align: center;
  padding: 10px 10px 0px 10px;
  width: 100%;
  height: 50px;
  bottom: 0;
  position: fixed;
  color: black;
}